{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Plenary Sessions</h1>
        <p>COLM 2025 will include six plenary sessions, featuring keynotes and panels. The details about the exact format (panel vs. keynote) and topic will come up soon. We are excited to have our plenary sessions led by experts displaying the broad impact and intellectual spectrum of language modeling.</p>
    </div>
</div>

{{ components.organizergroup(plenary) }}
{% endblock %} 